@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  background: linear-gradient(180deg, #8e269f, #131d38 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover, cover;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
